<body class="loading">
  <div id="wrapper">
    <div id="bg"></div>
    <div id="overlay"></div>
    <div id="main">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            </button>
            <a class="navbar-brand" href="#"><b>DESTINATION NATION</b></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/login">Log In</a></li>
              <li><a href="/signup">Sign Up</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <!-- Header -->
      <header id="header">
        <img src="http://i.imgur.com/anVjR3o.png" width="100" alt>
        <h2>Destination Nation</h2>
        <p> <!-- &nbsp;&bull;&nbsp; --> Time to get you ready for your next trip. <br> Top 10 recommendations. </p>
        <br>
       <!--  <a href="#" class="btn">Discover!</a> -->
      </header>

      <script>
        window.onload = function() { document.body.className = ''; }
        window.ontouchmove = function() { return false; }
        window.onorientationchange = function() { document.body.scrollTop = 0; }
      </script>  
    </div>
  </div>
</body>





