<!DOCTYPE html>
<html lang="en">

<html>
<head>
  <title>Destination Nation</title>
  
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap core CSS -->
 <!--<script src="app/javascripts/jquery.js"></script>
<script src="app/javascripts/bootstrap.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->

<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800' rel='stylesheet' type='text/css'>

<!-- Script tags for Google Map -->

<script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false&amp;libraries=places"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-no-turbolink' => true %>
  <%= csrf_meta_tags %>

<!-- <script src="assets/js/skel.min.js"></script> -->

</head>
<body>

    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    
</body>
</html>
